:root {
	--blue: #0795ff;
	--white: #fff;
	--black: #000;
	--font-color-light-theme: #fdfdff;
	--font-color-dark-theme: #1d1d20;
	--bg-dark-theme: #ffffff;
	--ash: #fdfdfd;
}
._image-wrapper {
	color: var(--font-color-dark-theme);
	max-width: 960px;
	margin: 4rem auto;
	padding: 1rem;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 1px rgb(0 0 0 / 40%), 0 8px 40px rgb(0 0 0 / 12%);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 8px 40px rgba(0, 0, 0, 0.12);
	-ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 8px 40px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 8px 40px rgba(0, 0, 0, 0.12);
	box-shadow: 0 0 1px rgb(0 0 0 / 40%), 0 8px 40px rgb(0 0 0 / 12%);
}

@media all and (min-width: 768px) {
	._image-wrapper {
		padding: 1rem 2rem;
	}
	/* .tab-content .image-content {
		padding: 0 3rem;
	} */
	.tab-content .image-wrapper {
		padding: 0 3rem;
	}
}
.image-container {
	row-gap: 2rem;
}
.tab-control button.close-result em {
	line-height: 1;
	display: flex;
	font-size: 1.5rem;
}
.tab-content .download-average {
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	row-gap: 0.2em;
}
.tab-content .download-average a {
	font-size: 1rem;
	color: var(--white);
	border-radius: 6px;
	background-color: var(--blue);
	width: max-content;
	padding: 0.7rem 3rem;
	margin-inline: auto;
}
.tab-content .download-average small {
	font-size: 0.8rem;
	color: var(--black);
}
.nav-pills .nav-link {
	border-bottom: 2px solid transparent;
	margin-right: 10px;
	font-size: 0.9rem;
	border-radius: 0;
	letter-spacing: 0.3px;
	color: var(--font-color-dark-theme);
}
.nav-pills .nav-link:hover {
	background-color: transparent;
}
.nav-pills .nav-link.active {
	border: unset;
	background-color: transparent;
	border-bottom: 2px solid var(--blue);
	color: var(--blue);
	font-weight: 600;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	justify-content: space-between;
}
.wrapper main {
	text-align: center;
}
._container-inner form .form-control {
	opacity: 0;
	visibility: hidden;
	display: none;
	appearance: none;
	-webkit-appearance: none;
}
._container-inner h1 {
	color: var(--font-color-dark-theme);
	font-size: 2.9rem;
}
._custom-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
._custom-button button {
	background-color: var(--blue);
	color: var(--white);
	border-radius: 6px;
	display: flex;
	align-items: center;
	column-gap: 5px;
	justify-content: center;
	min-height: 3rem;
	padding: 0 2rem;
	font-size: 0.95rem;
}
._custom-button button em {
	line-height: 1;
	display: flex;
	font-size: 1.3rem;
}
